<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title Layouts
    body
        .test
            .test__top top

        
            .test__col
                .test__col1 col1
                .test__col2 col2
            
            .test__bottom col3